*.class
build.xml
extensioninfo.xsd
resources/items.xsd
resources/beans.xsd
gensrc/
platformhome.properties
resources/*/*-testclasses.xml
resources/*/*-webtestclasses.xml
resources/*.build.number
eclipsebin/
ruleset.xml
genresources/
*backoffice_bof.jar
classes/
marketplaceintegration/resources/beans.xsd
marketplaceintegration/resources/items.xsd
marketplaceintegrationbackoffice/resources/beans.xsd
marketplaceintegrationbackoffice/resources/items.xsd
marketplaceintegrationinitialdata/resources/beans.xsd
marketplaceintegrationinitialdata/resources/items.xsd
datahub/marketplaceintegration-canonical/.settings/org.eclipse.wst.validation.prefs
datahub/marketplaceintegration-event/.settings/org.eclipse.wst.validation.prefs
datahub/marketplaceintegration-inbound-adapter/.settings/org.eclipse.wst.validation.prefs
datahub/marketplaceintegration-raw/.settings/org.eclipse.wst.validation.prefs
datahub/marketplaceintegration-target/.settings/org.eclipse.wst.validation.prefs
marketplaceintegration/resources/marketplaceintegration/marketplaceintegration-testclasses.xml
mpintgomsbackoffice/resources/beans.xsd
mpintgomsbackoffice/resources/items.xsd
mpintgomsbackoffice/resources/mpintgomsbackoffice/mpintgomsbackoffice-testclasses.xml
mpintgordermanagement/resources/items.xsd
mpintgordermanagement/resources/mpintgordermanagement/mpintgordermanagement-testclasses.xml
mpintgproductcockpit/resources/items.xsd
*.classpath.bak
.settings/
.project
marketplaceintegration/src/com/hybris/backoffice/jalo/
mpintglogbackoffice/resources/beans.xsd
mpintglogbackoffice/resources/items.xsd
marketplaceintegrationproductcockpit/.gitignore
